:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--madang-950);
  background-color: var(--madang-50);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --madang-50:  #f1fcf3;
  --madang-100: #dff9e5;
  --madang-200: #c0f2cc;
  --madang-300: #a2ebb5;
  --madang-400: #56d276;
  --madang-500: #2fb853;
  --madang-600: #219841;
  --madang-700: #1d7836;
  --madang-800: #1c5f2e;
  --madang-900: #194e29;
  --madang-950: #082b13;


}

a {
  font-weight: 500;
  color: var(--madang-600);
  text-decoration: inherit;
}
  a:hover {
    color: var(--madang-700);
  }
  a:visited{
    color: var(--madang-900);
  }

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
