:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --mantis-50:  #f3fcf1;
  --mantis-100: #e4f9df;
  --mantis-200: #cbf0c2;
  --mantis-300: #9fe491;
  --mantis-400: #5cc846;
  --mantis-500: #49b334;
  --mantis-600: #379425;
  --mantis-700: #2e7421;
  --mantis-800: #295c1f;
  --mantis-900: #224c1b;
  --mantis-950: #0d2a09;
  
  color-scheme: light dark;
  color: var(--mantis-950);
  background-color: var(--mantis-50);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

 
}

a {
  font-weight: 500;
  color: var(--mantis-600);
  text-decoration: inherit;
}
  a:hover {
    color: var(--mantis-700);
  }
  a:visited{
    color: var(--mantis-900);
  }

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 100vw;
  min-height: 100vh;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
